:root {
    --primary-color:#1E1E1E;
    --w-grid: calc(1400px - 128px);
    --w-item-grid : calc(var(--w-grid) / 5)
}
html,body {
    background:var(--primary-color);
    padding: 0;
    margin: 0;
    
}
body * {
    color:white !important;
}
.grid-container {
   
    position:fixed;
    display: grid;
    width:var(--w-grid);
    grid-template-columns: auto auto auto auto auto;
    height:100%;
    top:0;
    left:0;
   
    left:50%;
    transform:translateX(-50%);
    z-index:0;
   
}
.grid-item {
    
 
    height:100%;
    display:block;
}
div.grid-container > div:nth-child(n) {
    position:relative;
}
div.grid-container > div:nth-child(1):after,
div.grid-container > div:nth-child(2):after,
div.grid-container > div:nth-child(3):after,
div.grid-container > div:nth-child(4):after {
    content:"";
    position:absolute;
    width:1px;
    height:100vh;
    background: #ffffff36;
    right:0;
}
.warpper-content {
    z-index:5;
    width:var(--w-grid);
    position:relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height:100%;
    margin: 0 auto;
   /*  top:0;
    left:0;
    
    left:50%;
    transform:translateX(-50%); */
}
.hero-section {
    height:100vh;
    overflow:hidden;
}

.img-hero-sec {
    width:calc(var(--w-item-grid) * 2 );
    position:relative;
    overflow: hidden;
    background:url(.././asset/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
}
.img-hero-sec img {
    width: 100%;

    object-fit: contain;
}
.hero-section .content {
    position:relative;
    width: calc(var(--w-item-grid) * 3 );
   
    grid-template-columns: 33.333% 33.333% 33.333%;
    display:grid;
    height:100vh;
}
.hero-section .content .title {
    position: relative;
    display: block;
    top: 70%;
    width: calc(var(--w-item-grid) * 3 );
    height: fit-content;
    font-family: "Marcellus";
}
.hero-section .content .title span,.hero-section .content h2 {
    text-transform:uppercase;
    display:block;
    width:fit-content;
}
.hero-section  .name {
    position:relative;
    display:block;
    top:60%;
    left: -60%;
    grid-column: 1;
}
.hero-section .content h2  {
    font-size:64px;
    letter-spacing:5px;
    font-family:"PoiretOne";
}
.hero-section .content .title span {
    font-size:64px;
    letter-spacing:2px;
   
}
.hero-section .content .title span:nth-child(1) {
    text-align:right;
    width: calc(var(--w-item-grid) * 2 );
}
.hero-section .content .title span:nth-child(2) {
    text-align:right;
    width: calc(var(--w-item-grid) * 3 );
}
.hero-section .content .more {
    width: calc(var(--w-item-grid));
    position:relative;
    display:block;
    top:40%;
    grid-column: 3;
    font-family: "Marcellus";
    line-height:32px;
    letter-spacing:2px;
    padding-left:16px;
}
.welcome-section {
    overflow:hidden;
    margin-top:3rem;
}
.welcome-section img {
    width:100%;
    height:auto;
}



/* partners section */
.partners-section {
    height:fit-content;
    border-bottom:1px solid rgb(225,225,225,.2);
}
.partners-section .content {
    width: calc(var(--w-item-grid) * 2);
    margin-top:30vh;
}
.partners-section .content h2 {
    font-family: Marcellus;
    font-size: 48px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}
.partners-section .content p {
    font-family: PoiretOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.01em;
    text-align: left;
}
.partners-section .detail {
    height:fit-content;
    width: calc(var(--w-item-grid) * 3);

    display:grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    flex-wrap:wrap;
}
.partners-section .detail div {
    padding: 16px;
    display:block;
    overflow:hidden;
}
.partners-section .detail div img{
    width:100%;
    height:100%;
}


/* services section */
.services-section {
 
    z-index:5;
    width:100vw;
    position:relative;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    height:100%;
    margin: 0 auto;
    background:var(--primary-color);
}
.services-section .title {
    width: fit-content;
    margin: 0 auto;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}
.services-section .detail {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}
.services-section .title h2 {
    font-family: Marcellus;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;

}
.services-section .detail div {
    position:relative;
    padding: 16px 0;
    cursor:pointer;
    transition:300ms;
    opacity:.5;
}
.services-section .detail div span {
    position:absolute;
    width:100vw;
    height:1px;
    background: rgb(225,225,225,.2);
    bottom:0;
    left:0;
}
.services-section .detail div a {
    font-family: Marcellus;
    font-size: 95px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: left;
    position:relative;
    transform:translateX(-50%);
   
}   
.services-section .detail div:nth-child(1) a {
    left:10%;
}
.services-section .detail div:nth-child(2) a {
    left:40%;
}
.services-section .detail div:nth-child(3) a {
    left:5%;
}
.services-section .detail div:nth-child(4) a {
    left:60%;
}
.services-section .detail div:nth-child(5) a {
    left:40%;
}
.services-section .detail:hover div {
    opacity:.1;
    transition:300ms;
}
.services-section .detail div:hover {
    opacity:1 !important;
    transition:300ms;
}
